.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i {
  color: deepskyblue;
}

.winter {
  color: darkblue;
  background-color: aqua;
}

.season-display.summner i {
  color: red;
}

.summer {
  background-color: orange;
  color: yellow;
}
