.contents {
  /* rem : HTML기본 사이즈 대비 n배 */
  font-size: 1.2rem;
}

.weather {
  display: flex;
  justify-content: center;
}

.temperature {
  font-size: 4rem;
}

.addtional-info {
  font-size: 1.5rem;
}

.grid-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.units {
  display: flex;
  font-size: 2.5rem;
}

.clickable {
  color: red;
  cursor: pointer;
}
